.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 15px;
    height: 30px;
}

ul.navbarlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.navlinks {
    display: inline;
    padding: 10px;
    max-height: 40px;
}

a {
    text-decoration: none;
}

.navlinks img {
    width: 30px;
    height: 30px;
}

.left {
    float: left;
    padding: 10px;
}

.right {
    float: right;
    padding: 10px;
}

li.center {
    float: center;
    width: 30%;
    padding: 10px;
    padding-left: 30%;
}

.video {
    background: aqua;
    width: 65%;
}

.sidebar {
    background: blue;
    width: 30%;
}

.comments {
    background-color: chartreuse;
}

.contentTitle ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: stretch;
}

.contentTitle li {
    margin: 0;
    padding: 10px;
}

.subscribe {
    width: 25%;
    float: right;
}

.subscribe img {
    width: 50%;
    float: right;
}